html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */
div.adsbox {
  display: none;
}

a, button {
  cursor: pointer;
}

.banner {
  background-color: #404040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 500px) {
  .banner {
    padding: 5px;
  }
}
.banner a#logo {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 3px;
}
.banner a#logo img {
  width: auto;
  max-height: 50px;
}
.banner h1#title {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.banner .social-button-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.banner .social-button-bar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.banner {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .banner a#logo img {
    max-height: 30px;
  }
}
@media (max-width: 1023px) {
  .banner h1#title {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .banner a.story-map-link {
    display: none;
  }
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  background: blue;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* #info */
}
#main #map {
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  order: 1;
}
#main #map .easy-button-button {
  font-size: 18px;
}
#main #map .leaflet-popup-content {
  text-align: center;
}
#main #info {
  position: absolute;
  z-index: 5000;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  right: 20px;
  top: 20px;
  display: flex;
  max-width: calc(100% - 50px);
  /*
  @media (max-aspect-ratio: 1/1) {

    max-width: 96%;
    max-height: 45%;
    top: 1%;
    right: 2%;
    left: 2%;
    transform: none;

    .zoom-control & {
      max-width: calc(96% - 40px);
      left: auto;
    }
  }  
  */
}
@media (max-width: 1023px) {
  #main #info {
    flex-direction: column;
    right: 0px;
    top: 0px;
  }
}
#main #info select {
  flex: 0;
  font-size: 20px;
  padding: 5px;
  background-color: gray;
  color: white;
  border: none;
  max-width: 250px;
  max-height: 40px;
}
@media (max-width: 1023px) {
  #main #info select {
    font-size: 16px;
    max-width: 175px;
    align-self: flex-end;
  }
}
#main #info ul {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  display: flex;
}
#main #info ul li {
  margin-right: 20px;
}
#main #info ul li button {
  font-size: 16px;
  background: none;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-color: black;
}
#main #info ul li.whole-foods {
  order: 5;
}
#main #info ul li.whole-foods button {
  background: purple;
  color: white;
}
#main #info ul li.dollar-general {
  order: 1;
}
#main #info ul li.dollar-general button {
  background: yellow;
  color: black;
}
#main #info ul li.starbucks {
  order: 2;
}
#main #info ul li.starbucks button {
  background: green;
  color: white;
}
#main #info ul li.walmart {
  order: 4;
}
#main #info ul li.walmart button {
  background: blue;
  color: white;
}
#main #info ul li.mcdonalds {
  order: 3;
}
#main #info ul li.mcdonalds button {
  background: red;
  color: yellow;
}
#main #info ul li.election {
  order: 6;
}
#main #info ul li.election button {
  background: black;
  color: white;
}
#main #info ul li.inactive button {
  background: none;
  border-color: gray;
  color: black;
}

/*# sourceMappingURL=main.css.map */
