html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */
div.adsbox {
  display: none;
}

a, button {
  cursor: pointer;
}

.banner {
  background-color: #404040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 500px) {
  .banner {
    padding: 5px;
  }
}
.banner a#logo {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 3px;
}
.banner a#logo img {
  width: auto;
  max-height: 50px;
}
.banner h1#title {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.banner .social-button-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.banner .social-button-bar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.banner {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .banner a#logo img {
    max-height: 30px;
  }
}
@media (max-width: 1023px) {
  .banner h1#title {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .banner a.story-map-link {
    display: none;
  }
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  background: blue;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* #info */
}
#main #map {
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  order: 1;
}
#main #map .easy-button-button {
  font-size: 18px;
}
#main #map .leaflet-popup-content {
  text-align: center;
}
#main #info {
  position: absolute;
  z-index: 5000;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  left: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  /*defines ul#buttonlist */
}
@media (max-aspect-ratio: 1/1) {
  #main #info {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    max-height: 50%;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  #main #info {
    padding: 5px;
  }
}
#main #info select {
  flex: 0;
  flex-shrink: 0;
  font-size: 24px;
  padding: 5px;
  background-color: gray;
  color: white;
  border: none;
  margin: 5px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  #main #info select {
    font-size: 16px;
  }
}
#main #info ul#buttonlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
}
@media (max-aspect-ratio: 1/1) {
  #main #info ul#buttonlist {
    flex-direction: row;
    justify-content: center;
  }
}
#main #info ul#buttonlist li {
  margin: 5px;
  width: 100%;
}
@media (max-width: 500px) {
  #main #info ul#buttonlist li {
    margin: 2px;
    width: 120px;
  }
}
@media (max-aspect-ratio: 1/1) {
  #main #info ul#buttonlist li {
    flex-direction: row;
    width: 155px;
    margin: 0px;
  }
}
#main #info ul#buttonlist li button {
  width: 97%;
  font-size: 16px;
  background: none;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  #main #info ul#buttonlist li button {
    font-size: 14px;
    padding: 5px;
  }
}
#main #info ul#buttonlist li button div.upper span:nth-of-type(1) {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
#main #info ul#buttonlist li button div.upper span:nth-of-type(2) {
  color: #838383;
  font-weight: bold;
  font-size: 20px;
}
@media (max-aspect-ratio: 1/1) {
  #main #info ul#buttonlist li button div.upper span:nth-of-type(2) {
    text-align: left;
    font-size: 14px;
  }
}
#main #info ul#buttonlist li button div.lower {
  font-size: 42px;
  padding-left: 35px;
}
@media (max-aspect-ratio: 1/1) {
  #main #info ul#buttonlist li button div.lower {
    font-size: 22px;
  }
}
@media (max-height: 800px) {
  #main #info ul#buttonlist li button div.lower {
    font-size: 26px;
  }
}
#main #info ul#buttonlist li button span, #main #info ul#buttonlist li button div {
  pointer-events: none;
}
#main #info ul#buttonlist li.whole-foods {
  order: 1;
}
#main #info ul#buttonlist li.whole-foods button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Wholefoods on.png");
}
#main #info ul#buttonlist li.whole-foods button div.upper span:nth-of-type(2)::before {
  content: "Whole Foods";
}
#main #info ul#buttonlist li.whole-foods.inactive button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Wholefoods off.png");
}
#main #info ul#buttonlist li.dollar-general {
  order: 2;
}
#main #info ul#buttonlist li.dollar-general button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Dollar on.png");
}
#main #info ul#buttonlist li.dollar-general button div.upper span:nth-of-type(2)::before {
  content: "Dollar General";
}
#main #info ul#buttonlist li.dollar-general.inactive button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Dollar off.png");
}
#main #info ul#buttonlist li.starbucks {
  order: 3;
}
#main #info ul#buttonlist li.starbucks button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Starbucks on.png");
}
#main #info ul#buttonlist li.starbucks button div.upper span:nth-of-type(2)::before {
  content: "Starbucks";
}
#main #info ul#buttonlist li.starbucks.inactive button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Starbucks off.png");
}
#main #info ul#buttonlist li.walmart {
  order: 5;
}
#main #info ul#buttonlist li.walmart button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash walmart on.png");
}
#main #info ul#buttonlist li.walmart button div.upper span:nth-of-type(2)::before {
  content: "Walmart";
}
#main #info ul#buttonlist li.walmart.inactive button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash Walmart off.png");
}
#main #info ul#buttonlist li.mcdonalds {
  order: 4;
}
#main #info ul#buttonlist li.mcdonalds button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash McDs On.png");
}
#main #info ul#buttonlist li.mcdonalds button div.upper span:nth-of-type(2)::before {
  content: "McDonalds";
}
#main #info ul#buttonlist li.mcdonalds.inactive button div.upper span:nth-of-type(1) {
  background-image: url("../resources/Dash McDs off.png");
}
#main #info hr {
  width: 100%;
}
#main #info div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
#main #info div:nth-of-type(1) input[type=checkbox] {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
#main #info div:nth-of-type(1) label {
  color: #838383;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
@media (max-height: 800px) {
  #main #info div:nth-of-type(1) label {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
