ul#buttonlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;      
  @media (max-aspect-ratio: 1/1) {
    flex-direction: row;
    justify-content: center;
  }
  li {
    margin: 3px;
    width: 100%;
    @media (max-width: 500px) {
      margin: 2px;
      width: 120px;
    }
    @media (max-aspect-ratio: 1/1) {
      flex-direction: row;
      width: 155px;
      margin: 0px;
    }
    button {
      width: 97%;
      background: none;
      border: none;
      padding: 10px;
      display: flex;
      flex-direction: column;
      @media (max-width: 500px) {
        padding: 5px;
      }
      div.upper {
        span:nth-of-type(1) {
          width: 30px;
          height: 30px;
          margin-right: 5px;
          background-position: center;
          background-repeat: no-repeat;
        }
        span:nth-of-type(2) {
          color: black;
          font-weight: bold;
          font-size: 15px;
          @media (max-aspect-ratio: 1/1) {
            text-align: left;
            font-size: 14px;
          }
        }
      }
      div.lower {
        font-size: 42px;
        padding-left: 35px;
        font-weight: bold;
        text-align: left;
        @media (max-aspect-ratio: 1/1) {
          font-size: 22px;
        }
        @media (max-height: 800px) {
          font-size: 26px;
        }
      }
      span, div {
        pointer-events: none;
      }
    }
    &.inactive {
        button {
          div.upper {
            span:nth-of-type(2) {
              color: #aeaeae;
            }
          }
          div.lower {
              color: #aeaeae;
          }
        }
    }
    &.whole-foods {
      order: 1;
      button {
        div.upper {
          span:nth-of-type(1) {
            background-image: url("../resources/Dash Wholefoods on.png");
          }
          span:nth-of-type(2) {
            &::before {
              content: "Whole Foods";
            }
          }
        }            
      }
      &.inactive {
        button {
          div.upper {
            span:nth-of-type(1) {
              background-image: url("../resources/Dash Wholefoods off.png");
            }
          }            
        }
      }
    }
    &.dollar-general {
      order: 2;
      button {
        div.upper {
          span:nth-of-type(1) {
            background-image: url("../resources/Dash Dollar on.png");
          }
          span:nth-of-type(2) {
            &::before {
              content: "Dollar General";
            }
          }
        }            
      }
      &.inactive {
        button {
          div.upper {
            span:nth-of-type(1) {
              background-image: url("../resources/Dash Dollar off.png");
            }
          }            
        }
      }
    }
    &.starbucks {
      order: 3;
      button {
        div.upper {
          span:nth-of-type(1) {
            background-image: url("../resources/Dash Starbucks on.png");
          }
          span:nth-of-type(2) {
            &::before {
              content: "Starbucks";
            }
          }
        }            
      }
      &.inactive {
        button {
          div.upper {
            span:nth-of-type(1) {
              background-image: url("../resources/Dash Starbucks off.png");
            }
          }            
        }
      }
    }
    &.walmart {
      order: 5;
      button {
        div.upper {
          span:nth-of-type(1) {
            background-image: url("../resources/Dash walmart on.png");
          }
          span:nth-of-type(2) {
            &::before {
              content: "Walmart";
            }
          }
        }            
      }
      &.inactive {
        button {
          div.upper {
            span:nth-of-type(1) {
              background-image: url("../resources/Dash Walmart off.png");
            }
          }            
        }
      }
    }
    &.mcdonalds {
      order: 4;
      button {
        div.upper {
          span:nth-of-type(1) {
            background-image: url("../resources/Dash McDs On.png");
          }
          span:nth-of-type(2) {
            &::before {
              content: "McDonalds";
            }
          }
        }            
      }
      &.inactive {
        button {
          div.upper {
            span:nth-of-type(1) {
              background-image: url("../resources/Dash McDs off.png");
            }
          }            
        }
      }
    }
  }
} 
