$SIZE-COMPACT: "(max-width: 1023px)";
$GLOBAL-CLASS-USETOUCH: ".touch";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;

  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */

div.adsbox {
  display: none;
}

a, button {
  cursor: pointer;
}

@import "Banner";

.banner {
  
  flex-shrink: 0;
  
  a#logo {
    img {
      @media #{$SIZE-COMPACT} {
        max-height: 30px;
      }
    }
  }
  
  h1#title {    
    @media #{$SIZE-COMPACT} {
      font-size: 16px;
    }
  }
  
  a.story-map-link {
    @media #{$SIZE-COMPACT} {
      display: none;
    }
  }  
  
}

#main {
  
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  background: blue;
  flex-direction: column;
  position: relative;
  overflow: hidden;  

  #map {
  
    background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
  
    .easy-button-button {
      font-size: 18px;
    }
  
    .leaflet-popup-content {
      text-align: center;
    }  
  
  }
  
  #info {
    
    position: absolute;
    z-index: 5000;
    background: rgba(255,255,255,0.8);
    padding: 15px;
    left: 15px;
    top: 15px;
    display: flex;
    flex-direction: column;

    @media (max-aspect-ratio: 1/1) {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);      
      top: 0px;
      max-height: 50%;
      width: 100%;
      max-width: 900px;
      margin-left: auto;;
      margin-right: auto;
    }
    @media (max-width: 500px) {
      padding: 5px;
    }  
    
    div#state-selector {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 5px;
      div:nth-of-type(1) {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px;
      }
      @media (max-aspect-ratio: 1/1) {
        flex-direction: row;
        div:nth-of-type(1) {
          margin-right: 10px;
        }
      }
      select {
        flex: 0;
        flex-shrink: 0;
        font-size: 18px;
        padding: 5px;
        background-color: gray;
        color: white;
        border: none;
        margin-bottom: 5px;
        @media (max-width: 500px) {
          font-size: 16px;
        }  
      }
    }

    @import "ButtonList"; /*defines ul#buttonlist */

    hr {
      width: 100%;
    }

    div:nth-of-type(1) {
      display: flex;
      align-items: center;
      input[type='checkbox'] {
        cursor: pointer;
        width:30px;
        height:30px;
      }
      input[type='checkbox']:checked {
      }    
      label {
        color: #aeaeae;
        font-weight: bold;       
        font-size: 15px;
        @media (max-height: 800px) {
          font-size: 14px;
        }        
        cursor: pointer;
      }
    }
        
  } /* #info */
  

}

